@import 'normalize.css';
// @import './fonts';
// @import './variables';

// $background-color-body: #f5f4ff;

// html,
// body {
//   // height: 100%;
//   font-size: 16px;
//   margin: 0;
// }

body {
  font-family: $font-ubuntu;
  font-size: 16px;
  margin: 0;
  background-color: #f5f5f5;
}

// main {
//   display: flex;
//   flex-direction: column;
//   min-height: 100vh;
// }

// header,
// main {
//   flex: 1;
// }
