// .scheduleForm__section {
//   background-color: #fff;
//   box-shadow: 0 2px 4px 1px #0000001d;
//   border-radius: 10px;
//   padding: 32px;
// }

// .scheduleTable {
//   width: 100%;
//   border-collapse: collapse;
//   margin-bottom: 20px;
// }

// .scheduleTable th,
// .scheduleTable td {
//   border: 1px solid #ccc;
//   text-align: center;
//   padding: 10px;
//   border-top: none;
//   border-bottom: none;

//   &:first-child {
//     border-left: none;
//   }

//   &:last-child {
//     border-right: none;
//   }
// }

// // .scheduleTable th {
// //   background-color: #f0f0f0;
// // }

// .scheduleTable td {
//   vertical-align: middle;
// }

// .scheduleTable__tdRow {
//   &:nth-child(odd) {
//     background-color: #e9f7ff;
//   }
// }

// .submitButton {
//   display: block;
//   margin: 0 auto;
//   padding: 10px 20px;
//   background-color: #4caf50;
//   color: white;
//   border: none;
//   border-radius: 4px;
//   cursor: pointer;
//   transition: background-color 0.3s;

//   &:hover {
//     background-color: #45a049;
//   }
// }

.scheduleForm {
  &__section {
    background-color: #fff;
    box-shadow: 0 2px 4px 1px #0000001d;
    border-radius: 10px;
    padding: 32px;
  }

  &__table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }

  &__th,
  &__td {
    border: 1px solid #ccc;
    text-align: center;
    padding: 10px;
    border-top: none;
    border-bottom: none;

    &:first-child {
      border-left: none;
    }

    &:last-child {
      border-right: none;
    }
  }

  &__tdRow {
    &:nth-child(odd) {
      background-color: #e9f7ff;
    }
  }

  &__td {
    vertical-align: middle;
    padding: 10px;
    text-align: center;
  }

  &__label {
    display: inline-block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    padding: 10px;

    box-sizing: border-box;

    &::before {
      content: '';
      display: block;
      width: 20px;
      height: 20px;
      border: 2px solid #4e4e4e;
      border-radius: 4px;
      margin: 0 auto;
      cursor: pointer;
      transition: all 0.3s ease;
    }

    &:hover::before {
      border-color: #0099cc;
    }
  }

  &__checkbox {
    display: none;

    &:checked + .scheduleForm__label::before {
      background-color: #33b5e5;
      border-color: #33b5e5;
    }
  }

  // &__submitButton {
  //   display: block;
  //   margin: 0 auto;
  //   padding: 10px 20px;
  //   background-color: #4caf50;
  //   color: white;
  //   border: none;
  //   border-radius: 4px;
  //   cursor: pointer;
  //   transition: background-color 0.3s;

  //   &:hover {
  //     background-color: #45a049;
  //   }
  // }

  &__buttonWrapper {
    text-align: end;
  }

  &__buttonSubmit {
    color: #fff;
    background-color: #33b5e5;
    padding: 10px 30px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    transition: all 0.3s ease;

    &:hover {
      background-color: #0099cc;
    }

    &:active {
      background-color: #007bb5;
    }
  }
}
