.notFoundPage {
  max-width: 1300px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: calc(100vh - 112px);

  &__title {
    margin-bottom: 50px;
    color: #4e4e4e;
    font-size: 30px;
    font-weight: 700;
  }

  &__icon {
    max-width: 600px;
    width: 100%;
  }
}
